body {
    background-color: aliceblue;
    font-family: 'Noto Sans', sans-serif;
  }
  #sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-right: 10px;
    color: white;
  }
  #sidebar .btn {
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
  }
  #content {
    margin-left: 250px;
    padding: 20px;
  }